/* styling header */
header .col-12{
    height: 100px;
    /* debugging */
    background-color: red;
}

/* styling jumbotron */
main .jumbotron{
    height: 600px;
    /* debugging */
    background-color: royalblue;
}

.jumbotron .jumbotron_image{
    height: 450px;
    /* debugging */
    background-color: yellow;
}

.jumbotron .jumbotron_description{
    height: 150px;
    /* debugging */
    background-color: purple;
}

/* styling portfolio */
main .title_portfolio{
    height: 150px;
    /* debugging */
    background-color: orange;
}

.red{
    height: 400px;
    /* debugging */
    background-color: red;
}
.watergreen{
    height: 400px;
    /* debugging */
    background-color: greenyellow;
}
.black{
    height: 400px;
    /* debugging */
    background-color: black;
}
.lightblue{
    height: 400px;
    /* debugging */
    background-color: lightblue;
}
.blue{
    height: 400px;
    /* debugging */
    background-color: blue;
}
.beige{
    height: 400px;
    /* debugging */
    background-color: beige;
}

/* styling about section */
.about{
    height: 900px;
    /* debugging */
    background-color: green;
}

.title_about{
    height: 200px;
    /* debugging */
    background-color: lightgreen;
}

.text_about{
    height: 300px;
    /* debugging */
    background-color: lightseagreen;
}

.download_about{
    height: 100px;
    /* debugging */
    background-color: greenyellow;
}

/* contact_me */
.title_contact{
    height: 200px;
    border: 1px solid black;
}

.form_contact{
    height: 600px;
    border: 1px solid black;
}

.send_contact{
    height: 200px;
    border: 1px solid black;
}

/* styling footer */
.location{
    height: 100px;
    background-color: grey;
    border: 1px solid black;
}

.around_web{
    height: 100px;
    background-color: grey;
    border: 1px solid black;
}

.about_freelance{
    height: 200px;
    background-color: grey;
    border: 1px solid black;
}

.copyright{
    height: 100px;
    background-color: grey;
    border: 1px solid black;
}