/* styling header */
header .navbar{
    background-color: rgb(44, 62, 80);
}

header .navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar-light .navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 20px;
    color: white;
}

/* styling jumbotron */
main .jumbotron{
    background-color: rgb(26, 188, 156);
}
.image_container{
    width: 300px;
    margin: 60px auto 20px;
}
.jumbotron_title{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.fa-star{
    font-size: 35px;
    margin: 0 10px;
    color: white;
}
.bar{
    width: 80px;
    height: 4px;
    border-radius: 20px;
    background-color: white;
}
.jumbotron_description{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}


/* styling portfolio */
main .title_portfolio{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 35px;
}
.title_portfolio .bar{
    background-color: rgb(44, 62, 80);
}
.title_portfolio .fa-star{
    color: rgb(44, 62, 80);
}

.img_container img{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

/* styling about section */
.title_about{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 35px;
}
.title_about .bar{
    background-color: white;
}
.title_about .fa-star{
    color: white;
}
.text_about{
    width: 70%;
    margin: 10px auto;
    font-size: 20px;
}
.about{
    margin-top: 35px;
    color: white;
    background-color: rgb(26, 188, 156);
}
.button_container{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.btn_download{
    text-decoration: none;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(26, 188, 156);
}
.fa-download{
    margin-right: 5px;
}

/* contact_me */
.title_contact{
    height: 200px;
    border: 1px solid black;
}

.form_contact{
    height: 600px;
    border: 1px solid black;
}

.send_contact{
    height: 200px;
    border: 1px solid black;
}

/* styling footer */
.location{
    height: 100px;
    background-color: grey;
    border: 1px solid black;
}

.around_web{
    height: 100px;
    background-color: grey;
    border: 1px solid black;
}

.about_freelance{
    height: 200px;
    background-color: grey;
    border: 1px solid black;
}

.copyright{
    height: 100px;
    background-color: grey;
    border: 1px solid black;
}